/* --- basis elements styling --- */
html,
body {
  position: aboslute;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 100%;
  width:  100%;
  padding: 0px;
  background-color: #dfdfdd;
}

#connections-layer {
    z-index: 1;
}

#nodes-layer {
    z-index: 2;
}

.layer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.layer path {
    fill: none;
    stroke: #000;
    stroke-linecap: round;
    stroke-width: 5;
}

.layer .node {
  position: absolute;
}

/* --- custom nodes styling --- */
#page-content-wrapper {
  padding: 0
}

@media only screen and (max-width : 320px) {
  iframe {
    width: 80%;
  }
}