<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href="css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/jquery.timepicker.css">
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/109847dfd3.js" crossorigin="anonymous"></script>  
    <title>MatchU Systems</title>
  </head>
  <body>
    <ul class="nav nav-tabs mt-2">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Edit</a>
      </li>
    </ul>
    <div class="container mt-4">
      <div class="row">
        <div class="col-sm-9">
          <!-- Currently hardcoded - Needs to be populated from DB -->
          <h4>Which project are you interested in?</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="cboProjects">Project</label>
            </div>
            <select class="custom-select" id="cboProjects">
              <option selected>Choose...</option>
              <option value="1">Student Matching System</option>
              <option value="2">Mesh network sensor array</option>
              <option value="3">Build a thoroughly redundant network</option>
              <option value="4">Status reporting system for CIS4935</option>
            </select>
          </div>

          <!-- Area where project description is listed  -->
          <!-- This is populated from index.js -->
          <div id='msgbox'>

          </div>

          <!-- Currently hardcoded - Needs to be populated based off of project selection above -->
          <h4>Which role are you interested in fufilling?</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="cboRoles">Role</label>
            </div>
            <select class="custom-select" id="cboRoles">
              <option selected>Choose...</option>
              <option value="Front End">Front-End</option>
              <option value="Back End">Back-End</option>
              <option value="Project Manager">Project Manager</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <!-- Area where the role description is displayed once selected -->
          <!-- This is populated from index.js -->
          <div id='msgboxRoles'>

          </div>

          <h4>Personal Scheduling</h4>
          <small>What days/times are you typically free to work/answer questions</small>
          <div id="divSchedule">
            <div id="workingDays">
              <span>
                <div id="dteSun" class="workingDayBG ">
                  <div class="workingDayTxt">
                  S
                  </div>
                </div>
              </span>
              <span>
                <div id="dteMon" class="workingDayBG ">
                  <div class="workingDayTxt">
                  M
                  </div>
                </div>
              </span>
              <span>
                <div id="dteTues" class="workingDayBG ">
                  <div class="workingDayTxt">
                  T
                  </div>
                </div>
              </span>
              <span>
                <div id="dteWed" class="workingDayBG ">
                  <div class="workingDayTxt">
                  W
                  </div>
                </div>
              </span>
              <span>
                <div id="dteThur" class="workingDayBG ">
                  <div class="workingDayTxt">
                  T
                  </div>
                </div>
              </span>
              <span>
                <div id="dteFri" class="workingDayBG ">
                  <div class="workingDayTxt">
                  F
                  </div>
                </div>
              </span>
              <span>
                <div id="dteSat" class="workingDayBG ">
                  <div class="workingDayTxt">
                  S
                  </div>
                </div>
              </span>
            </div>
            <div id="dteSunHours" class="divWorkingHours collapse">
              <div class="txtDay">Sunday</div>
              <div class="divHours">
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="8:00"/>
                    </div>
                  </label>
                </div>
                <span>to</span>
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="17:00"/>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div id="dteMonHours" class="divWorkingHours collapse">
              <div class="txtDay">Monday</div>
              <div class="divHours">
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="8:00"/>
                    </div>
                  </label>
                </div>
                <span>to</span>
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="17:00"/>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div id="dteTuesHours" class="divWorkingHours collapse">
              <div class="txtDay">Tuesday</div>
              <div class="divHours">
                <div>
                    <label class="lblTime">
                      <div>
                        <input type="text" class="txtTime" value="8:00"/>
                      </div>
                    </label>
                  </div>
                  <span>to</span>
                  <div>
                    <label class="lblTime">
                      <div>
                        <input type="text" class="txtTime" value="17:00"/>
                      </div>
                    </label>
                  </div>
                </div>  
              </div>
            <div id="dteWedHours" class="divWorkingHours collapse">
              <div class="txtDay">Wednesday</div>
              <div class="divHours">
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="8:00"/>
                    </div>
                  </label>
                </div>
                <span>to</span>
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="17:00"/>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div id="dteThurHours" class="divWorkingHours collapse">
              <div class="txtDay">Thursday</div>
              <div class="divHours">
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="8:00"/>
                    </div>
                  </label>
                </div>
                <span>to</span>
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="17:00"/>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div id="dteFriHours" class="divWorkingHours collapse">
              <div class="txtDay">Friday</div>
              <div class="divHours">
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="8:00"/>
                    </div>
                  </label>
                </div>
                <span>to</span>
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="17:00"/>
                    </div>
                  </label>
                </div>
              </div>
            </div>
            <div id="dteSatHours" class="divWorkingHours collapse">
              <div class="txtDay">Saturday</div>
              <div class="divHours">
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="8:00"/>
                    </div>
                  </label>
                </div>
                <span>to</span>
                <div>
                  <label class="lblTime">
                    <div>
                      <input type="text" class="txtTime" value="17:00"/>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <!-- This would be just populated from the db and show a list of the amount of people currently requesting placement for each project. Allows for people to gravitate toward projects that are being selected and we can probably show projects that are full on the top or bottom and in red or something -->
          <ul class="list-group list-group-flush small">
            <!-- Header for # of project users -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong>Project</strong>
              <i class="fas fa-users" data-toggle="tooltip" title="# of users requesting a group"></i>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Student Matching System
              <span class="badge badge-primary badge-pill">5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Mesh Network Sensor Array
              <span class="badge badge-primary badge-pill">2</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Build a thoroughly redundant network
              <span class="badge badge-primary badge-pill">1</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Status reporting system for CIS4935
              <span class="badge badge-primary badge-pill">1</span>
            </li>
          </ul>
        </div>
      </div>
      <button class="btn btn-primary mt-4">Submit Group Request</button>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!--  API Documentation for timepicker http://www.jonthornton.com/jquery-timepicker/ -->
    <script src="js/jquery.timepicker.min.js"></script>
    <!-- External JS to handle anything on index page -->
    <script src="js/index.js"></script>
    <script>
     $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
    <!-- -------------------------- -->
  </body>
</html>