<html>
  <head>
	<title>MatchU</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
	<div class="container">
		<div class="bg-dark mx-auto mt-5" style="height: 350px; width: 600px; border-radius: 20px;">
			<div class="d-flex align-items-center justify-content-center my-auto pt-5">
				<div><a class="navbar-brand" href="{{ url_for('projects') }} "><img src="{{ url_for('static', filename='img/logo.png') }}" width="250px" class="img-fluid" /></a></div><br>
			</div>
			<a href="{{ url_for('login') }}"><button class="btn btn-primary d-block mx-auto">Proceed to Login</button></a>
		</div>
	</div>
  </body>
</html>