{% extends 'layout.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/my-projects.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/all.min.css') }}">


{% endblock %}

{% block navbar_left %}
  <li class="nav-item">
     <!-- <a class="nav-link" href="{{ url_for("logout") }}?">Log Out</a> -->
  </li>
{% endblock %}

{% block navbar_right %}
    {% if current_user.user_type == "teacher" %}
      <button class="btn btn-primary" data-toggle="modal" data-target="#new-macro-modal"><i class="fas fa-plus"></i> Create Project</button>
    {% else %}
      <button class="btn btn-primary" data-toggle="modal" data-target="#register-project-modal"><i class="fas fa-plus"></i> Register for Project</button>
    {% endif %}

{% endblock %}

{% block body %}
{% if projects is defined and projects[0] is defined %}
  <h3><center>Your Recent Macros</center></h3>
  <div class="row carousel-list">
    <div class="carousel-inner">
      <div class="card-deck">
          {% if projects|length > 0 %}
            {% for project in projects %}
             <div class="card">
              <!-- <img class="card-img-top" src="http://lorempixel.com/150/250/" alt="Card image cap"> -->
              <div class="card-body">
                <!-- <div class="card-title">
                  
                </div> -->
                <center>
                  <a href="{{ url_for('project', project_id=project.project_id) }}">{{ project.project_name }}</a>
                  <br />
                  <!-- <small class="text-muted">Updated {{ project.updated }}</small> -->
                </center>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-6">
                  </div>
                  <div class="col-lg-6">
                    {% if current_user.user_type == "teacher" %}
                      <a href="#" data-toggle="modal" class="forget-link" data-macro-id="{{ project.project_id }}" data-target="#delete-macro-modal">Delete</a>
                    {% else %}
                      <a href="#" data-toggle="modal" class="forget-link" data-macro-id="{{ project.project_id }}" data-target="#leave-macro-modal">Leave</a>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
              <div class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <!-- Currently hardcoded - Needs to be populated from DB -->
                    <h4>Which project are you interested in?</h4>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="cboProjects">Project</label>
                      </div>
                      <select class="custom-select" id="cboProjects">
                        <option selected>Choose...</option>
                        <option value="1">Student Matching System</option>
                        <option value="2">Mesh network sensor array</option>
                        <option value="3">Build a thoroughly redundant network</option>
                        <option value="4">Status reporting system for CIS4935</option>
                      </select>
                    </div>

                    <!-- Area where project description is listed  -->
                    <!-- This is populated from index.js -->
                    <div id='msgbox'>

                    </div>

                    <!-- Currently hardcoded - Needs to be populated based off of project selection above -->
                    <h4>Which role are you interested in fufilling?</h4>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="cboRoles">Role</label>
                      </div>
                      <select class="custom-select" id="cboRoles">
                        <option selected>Choose...</option>
                        <option value="Front End">Front-End</option>
                        <option value="Back End">Back-End</option>
                        <option value="Project Manager">Project Manager</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                    <!-- Area where the role description is displayed once selected -->
                    <!-- This is populated from index.js -->
                    <div id='msgboxRoles'>

                    </div>
                  </div>
                  <div class="col-sm-3">
                      <!-- This would be just populated from the db and show a list of the amount of people currently requesting placement for each project. Allows for people to gravitate toward projects that are being selected and we can probably show projects that are full on the top or bottom and in red or something -->
                    <ul class="list-group list-group-flush small">
                    <!-- Header for # of project users -->
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <strong>Project</strong>
                      <i class="fas fa-users" data-toggle="tooltip" title="# of users requesting a group"></i>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Student Matching System
                      <span class="badge badge-primary badge-pill">5</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Mesh Network Sensor Array
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Build a thoroughly redundant network
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Status reporting system for CIS4935
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
                </div>
              </div>
              <button class="btn btn-primary mt-4">Submit Group Request</button>
            </div>
          {% endif %}
        
      </div>
    </div>
  </div>

  <hr />

{% endif %}

<div class="modal fade show" tabindex="-1" role="dialog" id="register-project-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register for Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="register-project-form">
          <div class="form-group">
            <label for="macroName">Project ID:</label>
            <input type="text" class="form-control" id="macroName" name="project_id" placeholder="The project ID your teacher gave you.">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="register-proj" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" id="new-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new-macro-form">
          <div class="form-group">
            <label for="macroName">Project Name:</label>
            <input type="text" class="form-control" id="macroName" name="project_name" placeholder="Your new Project name">
            <small id="nameHint" class="form-text text-muted">This how I'll refer to your Project</small>
          </div>
          <div class="form-group">
            <label for="macroDesc">Description:</label>
            <textarea class="form-control" id="macroDesc" name="desc" placeholder="Put a description for your Project here"> </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="save-new-macro" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="delete-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Leaving Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete-macro-form">
          You will have to rejoin this project with the Project ID!
          <input type="hidden" class="form-control" name="macro_id" id="deleteMacroID" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Don't Leave</button>
        <button type="button" id="delete-macro-button" class="btn btn-primary">Leave</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="delete-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deleteing Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete-macro-form">
          This can not be undone!
          <input type="hidden" class="form-control" name="macro_id" id="deleteMacroID" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Remember It</button>
        <button type="button" id="delete-macro-button" class="btn btn-primary">Forget it</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>

<script type="text/javascript">
  $(".forget-link").click(function() {
    
    $("#deleteMacroID").val($(this).attr("data-macro-id"))
    $("#delete-macro-modal > div > div > div.modal-header > h5").text("Are you sure you want to delete " + $("div.card-body > center > a").text() + "?")
  })
  $('#register-proj').click(function(){
    var sendResponse = true;
    var values = {};
    $("#register-project-form input, textarea").each(function() {
      if (this.name == "project_id") {
        if ($(this).val() == "") {
          $(this).addClass("is-invalid");
          if (this.name == "project_id") {
            $("#nameHint").removeClass("text-muted");
            $("#nameHint").addClass("invalid-feedback");
            $("#nameHint").html("You need a valid ID.");
          }
          
          sendResponse = false
        }
      }
      values[this.name] = $(this).val();
    });

    if (sendResponse == true) {
      $.post("{{ url_for('registerForProject') }}",values,function(text) {
        window.location.replace(text)
      })
    }
    
  });
  $('#delete-macro-button').click(function(){
    values = {}
    values['project_id'] = $("#deleteMacroID").val()
    $.post("{{ url_for('deleteProject') }}",values,function(text) {
        window.location.replace(text)
      })
  });
  $('#save-new-macro').click(function(){
    var sendResponse = true;
    var values = {};
    $("#new-macro-form input, textarea").each(function() {
      if (this.name == "project_name") {
        if ($(this).val() == "") {
          $(this).addClass("is-invalid");
          if (this.name == "project_name") {
            $("#nameHint").removeClass("text-muted");
            $("#nameHint").addClass("invalid-feedback");
            $("#nameHint").html("You need a valid name.");
          } else {
            $("#invoHint").removeClass("text-muted");
            $("#invoHint").addClass("invalid-feedback");
            $("#invoHint").html("You need a valid invocation.");
          }
          
          sendResponse = false
        }
      }
      values[this.name] = $(this).val();
    });

    if (sendResponse == true) {
      $.post("{{ url_for('createProject') }}",values,function(text) {
        window.location.replace(text)
      })
    }
    
  });

  $('.card-deck').slick({
    dots: true,
    infinite: false,
    speed: 300,
    slidesToShow: 6,
    slidesToScroll: 2,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ]
  });

</script>
{% endblock %}