{% extends 'layout.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/my-projects.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/all.min.css') }}">


{% endblock %}

{% block navbar_left %}
  <li class="nav-item">
     <!-- <a class="nav-link" href="{{ url_for("logout") }}?">Log Out</a> -->
  </li>
{% endblock %}

{% block navbar_right %}
    {% if current_user.user_type == "teacher" %}
      <button class="btn btn-primary" data-toggle="modal" data-target="#new-macro-modal"><i class="fas fa-plus"></i> Create Project</button>
    {% else %}
<!--      <button class="btn btn-primary" data-toggle="modal" data-target="#register-project-modal"><i class="fas fa-plus"></i> Register for Project</button>-->
    {% endif %}

{% endblock %}

{% block body %}
{% if projects is defined and projects[0] is defined %}
  <h3><center>Your Projects</center></h3>
  <div class="row carousel-list">
    <div class="carousel-inner">
      <div class="card-deck">
          {% if projects|length > 0 %}
            {% for project in projects %}
            <div class="col-sm-6 col-md-4 mt-3">
             <div class="card">
              <!-- <img class="card-img-top" src="http://lorempixel.com/150/250/" alt="Card image cap"> -->
              <div class="card-body">
                <!-- <div class="card-title">
                  
                </div> -->
                <center>
                  <a href="{{ url_for('project', project_id=project.project_id) }}">{{ project.project_name }}</a>
                  <br />
                  <!-- <small class="text-muted">Updated {{ project.updated }}</small> -->
                </center>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-lg-6">
                    {% if current_user.user_type == "teacher" %}
                      <a href="#" data-toggle="modal" class="btn-info btn btn-block"  data-macro-id="{{ project.project_id }}" data-target="#edit-macro-modal">Edit</a>
                    {% endif %}
                  </div>
                  <div class="col-lg-6">
                    {% if current_user.user_type == "teacher" %}
                      <a href="#" data-toggle="modal" class="btn btn-danger btn-block forget-link" data-macro-id="{{ project.project_id }}" data-target="#delete-macro-modal">Delete</a>
                    {% else %}
                      <a href="#" data-toggle="modal" class="btn btn-danger btn-block forget-link" data-macro-id="{{ project.project_id }}" data-target="#leave-macro-modal">Leave</a>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
            </div>
              </div>
            {% endfor %}
          {% else %}
            
          {% endif %}
        
      </div>
    </div>
  </div>

  <hr />
{% else %}
  <center>
  <h2>You don't have any projects set up currently.</h2>
    <hr>
  {% if current_user.user_type == "teacher" %}
    <h5>Would you like to... <button class="btn btn-primary" data-toggle="modal" data-target="#new-macro-modal">Create a Project</button>?</h5>
  {% else %}
    <div class="container">
	<form id="register-project-form">
      <div class="row">
        <div class="col-5 text-right">
          <span style="line-height: 2">Which programming languages are you most proficient with?</span>
        </div>
        <div class="col">
          <input type="text" id="txtStrengths" name="projStrengths" class="form-control" placeholder="Python, Javascript, C#, ..etc"/>
        </div>
      </div>
      <div class="row mt-3">
      	<div class="col-5 text-right">
        	<span style="line-height: 2">Project ID:</span>
        </div>
        <div class="col">
        	<input type="text" class="form-control" id="macroName" name="project_id" placeholder="The project ID your teacher gave you.">
        </div> 
      </div>
     </form>
    
     <div class="row p-3">
     	<div class="col">
			<button type="button" id="register-proj" class="btn btn-primary">Register for a Project</button>
<!--          <button class="btn btn-primary" data-toggle="modal" data-target="#register-project-modal" id="btnRegister">Register for a Project</button>-->
        </div>
      </div>
    </div>

  {% endif %}
  </center>

{% endif %}

<!--
<div class="modal fade show" tabindex="-1" role="dialog" id="register-project-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Register for Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="register-project-form">
          <div class="form-group">
            <label for="macroName">Project ID:</label>
            <input type="text" class="form-control" id="macroName" name="project_id" placeholder="The project ID your teacher gave you.">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="register-proj" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>
-->

<div class="modal fade show" tabindex="-1" role="dialog" id="new-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new-macro-form">
          <div class="form-group">
            <label for="macroName">Project Name:</label>
            <input type="text" class="form-control" id="macroName" name="project_name" placeholder="Your new Project name">
            <small id="nameHint" class="form-text text-muted">This how I'll refer to your Project</small>
          </div>
          <div class="form-group">
            <label for="macroDesc">Description:</label>
            <textarea class="form-control" id="macroDesc" name="desc" placeholder="Put a description for your Project here"> </textarea>
          </div>
		  <div class="form-group">
            <label for="macroPill">Pillars:</label>
            <input type="text" class="form-control" id="macroPill" name="pill" placeholder="Put your project pillars here"> </input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="save-new-macro" class="btn btn-primary">Save changes
          <span id='save-new-macro-span' class="text-light" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span></button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="leave-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Leaving Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete-macro-form">
          You will have to rejoin this project with the Project ID!
          <input type="hidden" class="form-control" name="macro_id" id="leaveMacroID" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Don't Leave</button>
        <button type="button" id="leave-macro-button" class="btn btn-primary">Leave</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="delete-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deleteing Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete-macro-form">
          This can not be undone!
          <input type="hidden" class="form-control" name="macro_id" id="deleteMacroID" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep It</button>
        <button type="button" id="delete-macro-button" class="btn btn-primary">Delete it</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" id="edit-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit-macro-form">
          <div class="form-group">
            <label for="macroName">New Project Name:</label>
            <input type="text" class="form-control" id="macroName" name="project_name" placeholder="Your new Project name">
            <small id="nameHint" class="form-text text-muted">New Project Name</small>
          </div>
          <div class="form-group">
            <label for="macroDesc">Description:</label>
            <textarea class="form-control" id="macroDesc" name="desc" placeholder="Put a new description for your Project here"> </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="save-new-macro" class="btn btn-primary">Save changes
          <span id='edit-new-macro-span' class="text-light" role="status" aria-hidden="true"></span>
          <span class="sr-only">Loading...</span></button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>

<script type="text/javascript">
  $(".forget-link").click(function() {
    $("#deleteMacroID").val($(this).attr("data-macro-id"))
    $("#leaveMacroID").val($(this).attr("data-macro-id"))
//    $("#delete-macro-modal > div > div > div.modal-header > h5").text("Are you sure you want to delete " + $("div.card-body > center > a").text() + "?")
  })
  $('form input').keydown(function (e) {
      if (e.keyCode == 13) {
          var inputs = $(this).parents("form").eq(0).find(":input");
          if (inputs[inputs.index(this) + 1] != null) {                    
              inputs[inputs.index(this) + 1].focus();
          }
          e.preventDefault();
          return false;
      }
  });
  
  $('#register-proj').click(function(){
    var sendResponse = true;
    var values = {};
    $("#register-project-form input, textarea").each(function() {
      if (this.name == "project_id") {
        if ($(this).val() == "") {
          $(this).addClass("is-invalid");
          if (this.name == "project_id") {
            $("#nameHint").removeClass("text-muted");
            $("#nameHint").addClass("invalid-feedback");
            $("#nameHint").html("You need a valid ID.");
          }
          
          sendResponse = false
        }
      }
      values[this.name] = $(this).val();
    });

    if (sendResponse == true) {
      $.post("{{ url_for('registerForProject') }}",values,function(text) {
        window.location.replace(text)
      })
    }
    
  });
  $('#delete-macro-button').click(function(){
    values = {}
    values['project_id'] = $("#deleteMacroID").val()
    $.post("{{ url_for('deleteProject') }}",values,function(text) {
        window.location.replace(text)
    })
  });
  $('#leave-macro-button').click(function(){
	var sendResponse = true;
    values = {}
    values['project_id'] = $("#leaveMacroID").val()
    $.post("{{ url_for('leaveProject') }}",values,function(text) {
        window.location.replace(text)
      })
  });
  
  $('#edit-macro-button').click(function(){
    var sendResponse = true;
    var values = {};
    $("#edit-macro-form input, textarea").each(function() {
      if (this.name == "project_name") {
        if ($(this).val() == "") {
          $(this).addClass("is-invalid");
          if (this.name == "project_name") {
            $("#nameHint").removeClass("text-muted");
            $("#nameHint").addClass("invalid-feedback");
            $("#nameHint").html("You need a valid name.");
          } else {
            $("#invoHint").removeClass("text-muted");
            $("#invoHint").addClass("invalid-feedback");
            $("#invoHint").html("You need a valid invocation.");
          }
          sendResponse = false
        }
      }
      values[this.name] = $(this).val();
      
    });
	
  $('#save-new-macro').click(function(){
    var sendResponse = true;
    var values = {};
    $("#new-macro-form input, textarea").each(function() {
      if (this.name == "project_name") {
        if ($(this).val() == "") {
          $(this).addClass("is-invalid");
          if (this.name == "project_name") {
            $("#nameHint").removeClass("text-muted");
            $("#nameHint").addClass("invalid-feedback");
            $("#nameHint").html("You need a valid name.");
          } else {
            $("#invoHint").removeClass("text-muted");
            $("#invoHint").addClass("invalid-feedback");
            $("#invoHint").html("You need a valid invocation.");
          }
          sendResponse = false
        }
      }
      values[this.name] = $(this).val();
      
    });

    if (sendResponse == true) {
      //Show loading wheel on save button click
      $('#save-new-macro-span').addClass('spinner-border spinner-border-sm');
      $.post("{{ url_for('createProject') }}",values,function(text) {
        window.location.replace(text)
      })
    }
    });
    
  //Disable register button if language text box not filled out
    $(document).ready(function(){
        $('#btnRegister').prop('disabled',true);
        $('#txtStrengths, #macroName').keyup(function(){
            $('#btnRegister').prop('disabled', this.value == "" ? true : false);     
        })
    });  
  

//  $('.card-deck').slick({
//
//    dots: true,
//    infinite: false,
//    speed: 300,
//    slidesToShow: 4,
//    responsive: [
//      {
//        breakpoint: 1000,
//        settings: {
//          slidesToShow: 4,
//          slidesToScroll: 2
//        }
//      },
//      {
//        breakpoint: 600,
//        settings: {
//          slidesToShow: 2,
//          slidesToScroll: 2
//        }
//      },
//      {
//        breakpoint: 480,
//        settings: {
//          slidesToShow: 1,
//          slidesToScroll: 1
//        }
//      }
//      // You can unslick at a given breakpoint now by adding:
//      // settings: "unslick"
//      // instead of a settings object
//    ]
//  });

</script>
{% endblock %}