{% extends 'layout.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/my-projects.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/all.min.css') }}">


{% endblock %}

{% block navbar_left %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for("logout") }}?">Log Out</a>
  </li>
{% endblock %}

{% block navbar_right %}

    <button class="btn btn-primary" data-toggle="modal" data-target="#new-macro-modal"><i class="fas fa-plus"></i> New Macro</button>

{% endblock %}

{% block body %}
{% if recents is defined and recents[0] is defined %}
  <h3><center>Your Recent Macros</center></h3>
  <div class="row carousel-list">
    <div class="carousel-inner">
      <div class="card-deck">
        
          {% for macro in recents %}
           <div class="card">
            <!-- <img class="card-img-top" src="http://lorempixel.com/150/250/" alt="Card image cap"> -->
            <div class="card-body">
              <!-- <div class="card-title">
                
              </div> -->
              <center>
                <a href="{{ url_for('projects', macro_id=project.project_id) }}">{{ project.project_name }}</a>
                <br />
                <small class="text-muted">Updated {{ project.updated }}</small>
              </center>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                  <a href="#" data-toggle="modal" class="forget-link" data-macro-id="{{ project.project_id }}" data-target="#delete-macro-modal">Forget</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        
      </div>
    </div>
  </div>
</div>
  <hr />

{% endif %}

<div class="modal fade show" tabindex="-1" role="dialog" id="new-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a new Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="new-macro-form">
          <div class="form-group">
            <label for="macroName">Project Name:</label>
            <input type="text" class="form-control" id="macroName" name="project_name" placeholder="Your new macro name">
            <small id="nameHint" class="form-text text-muted">This how I'll refer to your macro</small>
          </div>
          <div class="form-group">
            <label for="macroDesc">Description:</label>
            <textarea class="form-control" id="macroDesc" name="desc" placeholder="Put a description for your macro here"> </textarea>
          </div>
          <input type="hidden" class="form-control" name="uid" value="{{ uid }}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="save-new-macro" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="delete-macro-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deleteing Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="delete-macro-form">
          This can not be undone!
          <input type="hidden" class="form-control" name="macro_id" id="deleteMacroID" value="">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Remember It</button>
        <button type="button" id="delete-macro-button" class="btn btn-primary">Forget it</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>

<script type="text/javascript">
  $(".forget-link").click(function() {
    
    $("#deleteMacroID").val($(this).attr("data-macro-id"))
    $("#delete-macro-modal > div > div > div.modal-header > h5").text("Are you sure you want to delete " + $("div.card-body > center > a").text() + "?")
  })
  $('#delete-macro-button').click(function(){
    values = {}
    values['macro_id'] = $("#deleteMacroID").val()
    $.post("{{ url_for('deleteProject') }}",values,function(text) {
        window.location.replace(text)
      })
  });
  $('#save-new-macro').click(function(){
    var sendResponse = true;
    var values = {};
    $("#new-macro-form input, textarea").each(function() {
      if (this.name == "project_name") {
        if ($(this).val() == "") {
          $(this).addClass("is-invalid");
          if (this.name == "project_name") {
            $("#nameHint").removeClass("text-muted");
            $("#nameHint").addClass("invalid-feedback");
            $("#nameHint").html("You need a valid name.");
          } else {
            $("#invoHint").removeClass("text-muted");
            $("#invoHint").addClass("invalid-feedback");
            $("#invoHint").html("You need a valid invocation.");
          }
          
          sendResponse = false
        }
      }
      values[this.name] = $(this).val();
    });

    if (sendResponse == true) {
      $.post("{{ url_for('createProject') }}",values,function(text) {
        window.location.replace(text)
      })
    }
    
  });

  $('.card-deck').slick({
    dots: true,
    infinite: false,
    speed: 300,
    slidesToShow: 6,
    slidesToScroll: 2,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ]
  });

</script>
{% endblock %}